* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  background-color: #343434;
  color: white;
}

.calculator {
  padding: 5%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem 1rem;
  grid-template-areas: "screens screens screens screens" "C . DEL mult" "one two three div" "four five six addi" "seven eight nine subt" "dots zeros . equals";
}
.calculator #screen {
  grid-area: screens;
}
.calculator #C {
  grid-area: C;
}
.calculator #DEL {
  grid-area: DEL;
}
.calculator #mult {
  grid-area: mult;
}
.calculator #div {
  grid-area: div;
}
.calculator #addi {
  grid-area: addi;
}
.calculator #subt {
  grid-area: subt;
}
.calculator #equals {
  grid-area: equals;
}
.calculator #one {
  grid-area: one;
}
.calculator #two {
  grid-area: two;
}
.calculator #three {
  grid-area: three;
}
.calculator #four {
  grid-area: four;
}
.calculator #five {
  grid-area: five;
}
.calculator #six {
  grid-area: six;
}
.calculator #seven {
  grid-area: seven;
}
.calculator #eight {
  grid-area: eight;
}
.calculator #nine {
  grid-area: nine;
}
.calculator #zeros {
  grid-area: zeros;
}
.calculator #dot {
  grid-area: dots;
}
.calculator__number {
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #555555;
  cursor: pointer;
}
.calculator__operator {
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #00a560;
  cursor: pointer;
}
.calculator__CDEL {
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #7c7c7c;
  cursor: pointer;
}
.calculator button {
  font-size: 1rem;
}
.calculator button:hover {
  background-color: #2f8aad;
  transition: all 150ms ease-in-out;
}
.calculator__screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  border: 1px solid red;
}
.calculator__output-previous {
  height: 30%;
  font-size: 1rem;
  color: #00a560;
  border: 1px solid green;
}
.calculator__output-current {
  height: 70%;
  width: 100%;
  text-align: end;
  overflow-x: scroll;
  font-size: 3rem;
  color: white;
  border: 1px solid yellow;
}